Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
python-dotenv==1.0.1
python-slugify==8.0.4
Werkzeug==3.0.3
SQLAlchemy==2.0.32
lxml==5.2.2
bleach==6.1.0
gunicorn==22.0.0
psycopg2-binary==2.9.9